<div class="box__edit signature_promotor">
    <div class="scroll">
        <div class="pad">
            <div class="control-group">
                <div class="btn-group">
                    <button class="btn btn--danger inert clear-canvas">Clear</button>
                </div>
            </div>
            <canvas class="signature-canvas"></canvas>
        </div>
    </div>
</div>